/*----------nav------------*/
#plus_wrap{
    position: relative;
    width: 84%;
    height: 40px;
    left: 8%;
    margin: 100px 0 40px;
    background-color: #00306be8;
}
#plus_content{
    float: right;
    width: auto;
    height: 100%;
    line-height: 40px;
    margin-right: 10px;
    color: white;
}
#plus{
    float: right;
    width: auto;
    height: 100%;
    line-height: 35px;
    margin-right: 10px;
    color: white;
    font-size: 25px;
}