*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/*---------question-----------*/
article{
    position: relative;
    left: 8%;
    width: 84%;
    margin: -20px 0 200px;
}
#article_wrap{
    width: calc(100% - 80px);
    height: 400px;
    overflow: auto;
    padding: 20px 40px 20px 40px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
}
#back{
    margin-top: 20px;
    float: right;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #00306BE8;
    border-radius: 3px;
}
#back:hover{
    background-color: #00306BE8;
    color: white;
    transition-duration: 0.2s;
}

/*--------------반응형-------------*/

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    article{
        width: 95%;
        left: 50%;
        margin-left: -47.5%;
    }
    #article_wrap{
        margin: 0;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    
}